set tabsize 4
set linenumbers
set softwrap

set titlecolor white,blue
set selectedcolor white,blue
set numbercolor white,blue

# Useful Keybinds
bind ^b mark main 			# CTRL + b | Mark
bind ^c copy main			# CTRL + c | Copy
bind ^v paste main          # CTRL + v | Paste
bind ^s savefile main       # CTRL + s | Savefile (W/o Prompt)
bind ^r replace main        # CTRL + r | Replace
bind ^z undo main           # CTRL + z | Undo
bind ^y redo main           # CTRL + y | Redo
bind ^p cut main            # CTRL + p | Cut
bind ^f whereis main        # CTRL + f | Search

# Word Jumping
bind ^p nextword main       # CTRL + o | Goto Next Word
bind ^o prevword main       # CTRL + p | Goto Previous Word
bind ^j nextpage main 		# CTRL + j | Goto Next Page
bind ^u prevpage main		# CTRL + u | Goto Previous Page
bind ^q prevquote main
bind ^a nextquote main
